<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이미지 검색</title>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      window.onload = () => {
        let send = document.getElementById("send");
        send.addEventListener("click", async function () {
          let form_data = new FormData();
          let cnt = document.getElementById("file").files.length; // 태그 id가 'file'인 태그의 파일 갯수

          if (cnt == 0) {
            msg.innerHTML = '<span style="color: led">파일 선택이 안되었습니다.</span>';
            return; // 실행 종료
          }

          // 파일이 있으면 파일 객체를 FormData 클래스의 객체에 저장
          for (var x = 0; x < cnt; x++) {
            form_data.append("file", document.getElementById("file").files[x]);
          }

          document.getElementById("processing").innerHTML = '<img src="../static/img/progress.gif" style="width: 20%; margin-top: 3px;">';

          await fetch("http://172.30.1.12:5000//menu_web", {
            method: "post",
            body: form_data,
          })
            .then((response) => response.json()) // 응답 문자열 추출
            .then((data) => {
              let message = data.message;
              let button =
                '<div class="d-flex justify-content-center mt-3"><button type="button" class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1" onclick="window.location.href=\'http://15.165.140.165:9093/answer/list\'">목록으로</button></div>';
              msg.innerHTML = message;
              msg.innerHTML += button;
              document.getElementById("processing").innerHTML = ""; // animation 삭제
            });
        });
      };

      $(document).ready(function () {
        $("#button-disconnect").on("click", function (e) {
          window.close();
        });
      });
    </script>
  </head>
  <body>
    <div class="mt-3">
      <div style="width: 90%; margin: 30px auto; text-align: center">
        <h1><span>이미지 검색</span></h1>
      </div>
      <form>
        <div class="d-flex justify-content-center">
          <input type="file" id="file" class="" style="margin-right: 5px" />
        </div>
        <!--  업로드 관련 메시지 출력 -->
        <div class="d-flex justify-content-center mt-3" id="processing"></div>
        <div id="msg" class="mt-3"></div>

        <div class="d-flex justify-content-center mt-3">
          <button type="button" id="send" class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">
            서비스 요청
          </button>
          <button type="button" id="button-disconnect" class="btn btn-primary border-0 border-secondary py-2 px-3 rounded-pill text-black mx-1">
            나가기
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
